body {
    margin: 0;
    padding: 0;
}

/* 内容区域 */
body>div {
    width: 850px;
    margin: 40px auto;
}

#goodsList, #shoppingCart {
    min-height: 200px;
    float: left;
    border: solid 1px #888;
    margin: 0 10px;
    text-align: center;
}
#goodsList {
    width: 240px;
}
#shoppingCart {
    width: 560px;
}
/* 标题 */
.header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #eee;
}

/* 商品展示列表 */
#goodsUl {
    margin: 10px;
    padding: 0;
    text-align: left;
}
.showGoods {
    list-style: none;
    border: solid 1px #ddd;
    margin: 5px 0;
    padding: 0 10px 10px 10px;
}
.showGoods p {
    margin: 10px 0;
}
.showGoods button {
    float: right;
}

/* 购物车表格布局 */
#cartTable {
    width: 550px;
    margin: 10px 5px;
}
#theadCheckbox {
    width: 14%;
    padding: 10px 0;
}
#theadName {
    width: 22%;
}
#theadAmount {
    width: 18%;
}
#theadPrice {
    width: 14%;
}
#theadTotal {
    width: 16%;
}
#theadDelete {
    width: 12%;
}
input {
    transform: scale(1.3);
}
.goodsInCart td {
    padding: 10px 0;
}

/* 空车提示 */
#emptyTip td {
    font-size: 14px;
    color: #aaa;
    padding-top: 20px;
}
/* 底部删除按钮和总计 */
#deleteSelected {
    float: left;
    margin-left: 20px;
}
#totalSpan {
    float: right;
    margin-right: 20px;
}
#footerTd {
    padding-top: 20px;
    padding-bottom: 10px;
}
/* 更改数量按钮 */
.minusAmountBtn, .addAmountBtn {
    display: inline-block;
    width: 22px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding-bottom: 2px;
    cursor: default;
    user-select: none;
}
.minusAmountBtn {
    padding-right: 1px;
}
.addAmountBtn {
    padding-left: 1px;
}

/* 其他button样式 */

.button {
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    outline: none;
    box-shadow: 2px 2px 2px #ddd;
    padding: 2px 8px;
}


/* noscript */

body {
    position: relative;
}
noscript {
    padding: 60px 20px;
    width: 260px;
    height: 90px;
    background: #fff;
    border: solid 1px #999;
    box-shadow: 5px 5px 5px #888;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    left: 300px;
    top: 0px;
}

noscript span {
    color: red;
}